<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Web</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <section class="mainSection">
            <div class="inputSection">
                <form action="">
                    <label for="banner">Select a banner: </label>
                    <select name="banner" id="banner">
                        <option value="Standard">Standard</option>
                        <option value="Shadow">Shadow</option>
                        <option value="Thinkertoy">Thinkertoy</option>
                    </select>
                    <textarea rows="10" cols="30" class="inputText"></textarea>
                    <input type="submit" class="btn"/>
                </form>
            </div>
            <div class="outputSection">
                <pre class="outputText">sdgdfgdfg 
                    fgd
                    dffd
                    ggfgfh
                    fg                  j       jkkj            kjh hj              popo                                                                                                                                                        opo                     kjkjkkj
                    kjhkhk
                </pre>
            </div>
        </section>
    </main>
</body>

</html>